@charset "utf-8";



body{

	margin:auto;

	background: url("../images/body_bg.jpg") repeat scroll 50% 0 #FBFBFB;

    /*color: #828387;*/

    color: #000;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 13px;

    line-height: 20px;

    width:960px;

    

}



a {

	text-decoration:none;

}





.main {

	background-color:#FFF;

}



.head{

	height:110px;

	margin:auto;

}





img.logo{

	  float: left;

    margin: 5px;

    padding-top: 23px;

    width: 242px;

}

div.logo{

	float:left;

}



.contact{

	float:right;

    margin-right: 55px;

    margin-top: 40px;

}



.contact li{

	list-style:none;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:bold;

	margin-bottom:2px;

}





.contact li font{

	margin-left:8px;

}



.nav{

	background-image:url(../images/temp_12.gif);

	width:957px;

	height:47px;

	margin:20px auto;

}



.navtxt{

    color: #FFFFFF;

    float: left;

    font-family: "Arial Black",Gadget,sans-serif;

    margin: 12px 20px;

}



.navtxt:hover{

    color: #FF6801;

    float: left;

    font-family: "Arial Black",Gadget,sans-serif;

    margin: 12px 20px;

}



.banner {

	height:315px;

	border-bottom:1px solid #AFAFAF;

	

}



.proshow{

	margin:30px auto auto 57px;

	width:899px;

	height:390px;

	float:left;

}

.text ul { padding-left:0px;}



.prodt{

	

	width:230px;

	height:315px;

	float:left;

	

}

.prodt_mid{

	

	width:230px;

	height:315px;

	float:left;

	margin-left:75px;

	margin-right:75px;

}



.proimg{

	margin:30px 0 0 7px;

	width: 241px;

	height:160px;

}



.prodt font,.prodt_mid font{

	font-family:Arial, Helvetica, sans-serif;

	font-size:18px;

	font-weight:bold;

	float:left;

	margin:10px 0 0 15px;

}



.prodt p,.prodt_mid p{

	float: left;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 12px;

    margin: 12px 0 0 15px;

    text-align: justify;

    width: 87%;

}



.prodt span,.prodt_mid span{

	float: right;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 12px;

    margin: 15px 20px 0 0;

    text-align: justify;

	color:#FF6801;

}



.prodt span a,.prodt_mid span a{

	color:#FF6801;

}



.footer{

	height:100px;

	background-color:#2F2F2F;

	float:left;

	width: 960px;

}



.ftleft{

	float:left;

	width:960px;

	height: 70px;

}



.ftleft li{

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	color:#FFFFFF;

	

	margin-top: 6px;

}



.ftnav{

	float:left;

	margin:15px 0 0 20px;

	width: 500px;

}



.ftnavtxt{

    color: #FFFFFF;

    float: left;

    font-family: "Arial Black",Gadget,sans-serif;

    margin: 12px 10px;

	font-size:14px;

}





.ftnavtxt:hover{

    color: #FF6801;

    float: left;

    font-family: "Arial Black",Gadget,sans-serif;

    margin: 12px 10px;

	font-size:14px;

}



.ftright{

	float:left;

}



li {

	list-style:none;

}



.socicon{

			

}



.socicon a {

	margin-right:10px;

}



.ftright{

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#FFF;

	margin-left:40px;

	width:960px;

}



.email {

	margin-bottom: 10px;

    margin-top: 15px;

    width: 197px;

}



.dis{

	width:197px;

	height:100px;

	margin-right:200px;

}



.submit{

	border:0;

	background-color:#FB6801;

	color:#FFFFFF;

	margin-top:20px;

	margin-left: 100px;

}

#content

{

    background: none repeat scroll 0 0 #F7F7F7;

    border-bottom: 1px solid #DFDFDF;

    padding: 15px 0 40px;

    float:left;

    z-index: 1;

    

    width:960px;

    }

.prodt,.prodt_mid

{

	 background-color:#fff;

    border: 1px solid #DFDFDF;

    padding: 52px 0 20px;

    position: relative;

    text-align: center;

}



.prodt img ,.prodt_mid img {

    left: 79px;

    position: absolute;

    top: -33px;

}



.prodt .title,.prodt_mid .title {

    color: #5A5A5A;

    font-size: 22px;

    line-height: 24px;

    margin-bottom: 16px;

    padding-left:27px;

    text-align:left;

}



.prodt .text,.prodt_mid .text {

    background: url("../images/box1_stripe.png") no-repeat scroll center bottom transparent;

    padding-bottom: 23px;

    text-align:left;

    padding-left:16px;

}

.button {

	 background: none repeat scroll 0 0 #CBC0A2;

    border: 1px solid #C0B69A;

    color: #333;

    display: inline-block;

    font-size: 13px;

    line-height: 20px;

    margin: 13px 0 0;

    padding: 6px 7px 5px;

}



.button:hover {

    background: none repeat scroll 0 0 #FB6801;

    border-color: #FB6801;

    color: #000;

    cursor: pointer;

}

.inner_footer {

	

}

.faddress

{

	float:left;

	color:#FAFAFA;

	width: 100%;

}

/* social incon scc*/

#wrapper { width:800px; margin:40px auto; }



/* SOCIAL ICONS - GENERAL */

.social { list-style:none; margin:15px auto; width:464px; }

.social li { display:inline; float:left; background-repeat:no-repeat; }

.social li a { display:block; width:28px; height:28px; padding-right:10px; position:relative; text-decoration:none; }

.social li a strong { font-weight:normal; position:absolute; left:20px; top:-1px; color:#fff; padding:3px; z-index:9999;

 text-shadow:1px 1px 0 rgba(0, 0, 0, 0.75); background-color:rgba(0, 0, 0, 0.7);

 -moz-border-radius:3px; -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -webkit-border-radius:3px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); border-radius:3px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}



li.delicious { background-image:url("../images/delicious.png"); }

li.digg { background-image:url("../images/digg.png"); }

li.facebook { background-image:url("../images/facebook.png"); }

li.flickr { background-image:url("../images/flickr.png"); }

li.linkedin { background-image:url("../images/linkedin.png"); }

li.reddit { background-image:url("../images/reddit.png"); }

li.rss { background-image:url("../images/rss.png"); }

li.twitter { background-image:url("../images/twitter.png"); }



/* SOCIAL ICONS - CSS3 */

#css3:hover li { opacity:0.2; }



#css3 li { -webkit-transition-property: opacity; -webkit-transition-duration: 500ms;

 -moz-transition-property: opacity; -moz-transition-duration: 500ms; }

#css3 li a strong { opacity:0;

 -webkit-transition-property: opacity, top; -webkit-transition-duration: 300ms;

 -moz-transition-property: opacity, top; -moz-transition-duration: 300ms; }



#css3 li:hover { opacity:1; }

#css3 li:hover a strong { opacity:1; top:-10px; }

input.input, textarea.input, select.input {

    border: 1px solid #D0D0D0;

    box-shadow: 0 2px 5px #CCCCCC inset;

    color: #333333;

    font-family: arial;

    font-size: 13px;

    margin: 0;

    padding: 5px;

}

fieldset div {	margin:1.0em 3em;	clear:both;}.form {	margin:1em;	}

label {	float:left;	width:9em;	text-align:left;	margin-right:1em;margin-left:0em;}

legend {	font-size:13px;color:#999933;font-weight:bold;}

legend span {	width:10em;	text-align:right;}

.input:hover, .input:focus {	border-color:#c5c5c5;	background:#f6f6f6;} 

.textarea :hover, textarea:focus {	border-color:#c5c5c5;	background:#f6f6f6;}

fieldset {	border:1px solid #ddd;	padding:0 0.5em 0.5em;}

.error {

	color:red;

	}

	.text ul { margin-top: 30px;}

.text ul li { list-style: disc;}

ul.menu { list-style-type:square;}

ul.menu li { list-style-type:square;}

ul.menu li ul li { list-style-type:disc;}

table.border, table.border td {

	border: 1px solid #ccc;

}



.contact1 .C1 {display: block; padding-bottom: 14px;}

#adresbg {background-image: url("img/ICON_location.gif");}

.contact1 .C1 span {display: block; float: right; width: 190px;}

.clear {clear: both; font-size: 0;line-height: 0; margin: 0;}

#mailbg {

    background-image: url("img/ICON_mail.gif");

}

#phonebg {

    background-image: url("img/ICON_phone.gif");

}

#websitebg {

    background-image: url("img/ICON_web.gif");

}

.contact1 .C1 strong {background: none no-repeat scroll 2px 2px transparent;display: block; float: left;padding-left: 25px;}

.redHeader {color: red;font-size: 16px;font-weight: bold;}

.txtinput{ background-color: transparent;    background-image: url("img/bg_txtinput.gif");border: medium none; color: #603913; display: block; float: left;font-size: 15px; height: 23px;margin-bottom: 20px; opacity: 0.9;outline: medium none; padding: 4px 5px 0; width: 308px; }

.txtarea {background-color: transparent; background-image: url("img/bg_txtarea.gif"); border: medium none;color: #603913;display: block;float: left;font-family: "Verdana","Arial","sans-serif";font-size: 14px;height: 192px;margin-bottom: 10px;opacity: 0.9;outline: medium none;padding: 4px 5px;resize: none; width: 308px;}

.contact1 .C1 {display: block; padding-bottom: 14px;}

.message .success{

	background: -moz-linear-gradient(center top , #E5EDC4, #D9E4AC) repeat scroll 0 0 transparent;

    border: 1px solid #B8C97B;

    color: #3F7227;

    text-shadow: 0 1px 0 #FFFFFF;

     border-radius: 5px 5px 5px 5px;

    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

    margin-bottom: 10px;

    padding: 10px;

    position: relative;

}

.message.success h3 {color: #3F7227;text-shadow: 0 1px 0 #FFFFFF;}

.message h3 {margin-top: 0;}

.message p {margin-bottom: 0; color: #676767;}

.contentul{margin: 0 0 0 10px;}

.contentul li {background: url("images/contentUl.png") no-repeat scroll 0 10px transparent;padding: 5px 0 0 15px;}

.fot_right{float:right;margin-right:25px;}

.fot_right a {font-size:25px;color:#fff ! important;}

.fot_left{float:left;margin-left:25px;}

.test_title{background: none repeat scroll 0 0 #CBCBCB;color: #2A332B;margin-bottom: 20px; margin-right: 0; margin-top: 0;padding-bottom: 5px;padding-left: 14px;padding-top: 5px;}

#commentary_users p {   font-family: calibri; font-size: 16px ! important; font-weight: 100; }



/* slider */

/** client logos **/
#clients {
  display: block;

}
.clients{  margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 61px;}
#clients .clients-wrap {
  display: block;
  width: 860px;
  margin: 0 auto;
  overflow: hidden;
  background-color:#fff;
  padding:5px;
}

#clients .clients-wrap ul {
  display: block;
  list-style: none;
  position: relative;margin:0;
}

#clients .clients-wrap ul li {
  display: block;
  float: left;
  position: relative;
  width: 250px;
  height: 70px;
  line-height: 75px;
  text-align: center;
}
#clients .clients-wrap ul li img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65); 
 
}
#clients .clients-wrap ul li img:hover {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100); 
 
}
